<style>
    .graph {
        padding: 5px;
        border: solid 1px gray;
    }
</style>
<div class="">
    <div class="row well">
       
        <div class="col-lg-12" id="container1"></div>
        <!--<div class="col-lg-3">
            <b>Choose a category to get more details</b>
            <div ng-repeat="item in services">
                <span>
                    <input ng-click="displayDateGraph(item.text)" type="radio" name="datewise info" value="{{item.id}}" /> {{item.text}}
                </span>
            </div>
        </div>-->
    </div>
   <div class="row well">
      <div class="col-lg-12" id="container2"></div>
    </div>
</div>